<!doctype html>
<html
  lang="en"
  x-init="$watch('$store.darkMode.darkTheme', value => localStorage.setItem('color-theme', value ? 'dark' : 'light'))"
  x-bind:class="$store.darkMode.darkTheme && 'dark'"
  x-cloak
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💾</text></svg>"
    />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}" />
    {% block styles %} {% endblock %}
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <!-- Minified script that imports/initializes several modules. -->
    <script defer src="{% static 'js/script.js' %}"></script>
  </head>
  <!-- Vital for HTMX internal requests that are not GET  -->
  <!-- prettier-ignore -->
  <body
    hx-headers="{&quot;X-CSRFToken&quot;: &quot;{{ csrf_token }}&quot;}"
    class="dark:bg-gray-700 h-dvh"
  >
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
